<fieldset [formGroup]="form">

  <legend>{{legend}}</legend>

  <mat-form-field>

    <input formControlName="addressLine1"
           matInput
           placeholder="Address Line 1">

  </mat-form-field>

  <mat-form-field>

    <input formControlName="addressLine2"
           matInput
           placeholder="Address Line 2">

  </mat-form-field>

  <mat-form-field>

    <input formControlName="zipCode"
           matInput
           placeholder="Zip Code">

  </mat-form-field>

  <mat-form-field>

    <input formControlName="city"
           matInput
           placeholder="City">

  </mat-form-field>

  <div class="form-val">

    {{form.value | json}}

  </div>

  <div class="form-val">

    {{form.valid | json}}

  </div>

</fieldset>
