<mat-card class="login-page">
  <mat-card-title>Login (Template Driven)</mat-card-title>
  <mat-card-content>

    <form #loginForm="ngForm" (ngSubmit)="login(loginForm, $event)" class="login-form data-form">

      <mat-form-field>
        <input #email="ngModel" email matInput maxlength="20" minlength="3"
               name="email" ngModel
               placeholder="Email" required type="email">

        <mat-error *ngIf="email.errors?.required">
          Email is mandatory
        </mat-error>
        <mat-error *ngIf="email.errors?.minlength">
          Email must be at least 3 characters long
        </mat-error>

      </mat-form-field>


      <mat-form-field>
        <input
          #password="ngModel"
          [minlength]="8"
          matInput
          name="password"
          ngModel
          passwordStrength
          placeholder="Password"
          required
          type="password"
        >

        <mat-error *ngIf="password.errors?.required">
          Password is mandatory
        </mat-error>

      </mat-form-field>

      <ng-container *ngIf="password.errors |
        onlyOneError:['required', 'minlength', 'passwordStrength'] as error">

        <mat-error *ngIf="error?.minlength" class="field-message">
          Password must be at least 3 characters long
        </mat-error>

        <mat-error *ngIf="error?.passwordStrength" class="field-message">
          Password must contain at least one uppercase letter, one lowercase letter, one number and one special
          character
        </mat-error>

      </ng-container>


      <button [disabled]="!loginForm.valid"
              color="primary"
              mat-raised-button
              type="submit">Login
      </button>

    </form>
  </mat-card-content>

</mat-card>
